html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#topNav {
  background-color: #000000;
  border: none;
  color: #ffffff;
  display: flex;
  height: 50px;
  justify-content: space-between;
  line-height: 50px;
  padding: 0;
  width: 100%;
}

#topNav h1 {
  font-size: 20px;
  margin-top: 0;
  margin-right: 40px;
  padding-left: 10px;
  text-align: left;
}

#menu {
  position: relative;
  z-index: 2;
}

#menu-bar {
  width: 35px;
  height: 30px;
  margin: 20px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  display: block;
  border-radius: 3px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
  position: absolute;
  right: 0px;
  top: 50px;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li a {
  border: none;
  color: white;
  display: block;
  font-size: 20px;
  height: 50px;
  padding-left: 15px;
  text-decoration: none;
  width: 150px;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  padding-right: 20px;
  position: inherit;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 20px 0 20px 20px;
  background: radial-gradient(circle, #dc052d, #dc052d);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}
.navbarItem {
  background-color: #000000;
  border: inset;
  cursor: pointer;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding-left: 3px;
}

h2 {
  color: #ffffff;
  font-size: 70px;
}

h3 {
  color: #ffffff;
  font-size: 70px;
  margin-left: 250px;
}

h4 {
  color: #ffffff;
  font-size: 70px;
  margin-right: 500px;
}

.logo {
  height: 45px;
  text-align: center;
  width: 55px;
}

#hero-image h2 {
  position: absolute;
  text-align: center;
  text-shadow: 3px 3px 10px #000;
  top: 50px;
  width: 100%;
}

.subheader {
  color: #00550d;
  font-size: 40px;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 40%;
}

.blurred-card {
  background: rgba(232, 218, 218, 0.4);
}

.left-subheader {
  color: #945007;
  margin-right: 1100px;
}

#about-subheader {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 300px;
  margin-left: 600px;
  margin-right: 300px;
}

#news-subheader {
  color: #422403;
  font-size: 25px;
  margin-bottom: 300px;
  margin-left: 50px;
  margin-right: 900px;
}

#hero-image {
  align-items: center;
  background: url(../images/g/biblecropped.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
}

.section {
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#about-page {
  background-image: url(../images/g/About.jpg);
}

#news-page {
  background-image: url(../images/g/news.jpg);
}

#episode-page {
  background-image: url(../images/g/episodes.jpg);
}

#episode-subheader {
  color: #ffffff;
  font-size: 25px;
  list-style-type: none;
  margin-right: 600px;
}

#episode-subheader a {
  border: 2px solid #f2f2f2;
  border-radius: 0px;
  color: #f2f2f2;
  display: inline-block;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#episode-subheader li :hover {
  box-shadow: inset 400px 0 0 0 #a0a0a0;
  color: #f4f4f4;
  text-decoration: none;
  transition: 0.5s;
}
